@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora&family=Secular+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto+Condensed:wght@100&family=Secular+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, #0c164d 0%, #190b22 100%);
  align-items: center;
  overflow: hidden;
}

.star {
  background-color: white;
  width: 2px;
  height: 2px;
  position: absolute;
  z-index: -1;
  filter: blur(1px);
}

#modal {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg, #0c164d 0%, #190b22 100%);
  display: none;
  z-index: 1;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

#modalInfo {
  grid-template-columns: repeat(2, auto-fit, 1fr);
  grid-template-rows: repeat(5, max-content fit-content(10vh), 1fr);
  display: grid;

  max-width: 40vw;
  background-color: white;
  /* align-self: center; */
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

#modalInfo > * {
  padding: 1.5rem;
}

#planetName {
  grid-column: 1;
  grid-row: 1;
  font-family: "Lora", serif;
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  letter-spacing: 0.3375rem;
  text-transform: uppercase;
  font-size: 3rem;
}

#latinName {
  grid-column: 1;
  grid-row: 1;
  margin-top: 4.5rem;
  color: #ffd029;
  font-family: "Lora", serif;
  font-weight: 400;
  letter-spacing: 0.7rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}

#desc {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
  width: 40rem;
  border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  font-style: normal;
  line-height: 170%;
}

.circ {
  grid-column: 1;
  grid-row: 3;
}

.circ h3 {
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  letter-spacing: 0.10125rem;
}

.circ,
.dist,
.dayTemp,
.nightTemp,
.moons p {
  font-family: Roboto Condensed;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: 170%; /* 1.9125rem */
  letter-spacing: 0.18rem;
}

.dist {
  grid-column: 2;
  grid-row: 3;
}

.dist h3 {
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  letter-spacing: 0.10125rem;
}

.dayTemp {
  grid-column: 1;
  grid-row: 4;
  border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.dayTemp h3 {
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  letter-spacing: 1.10125;
}

.nightTemp {
  grid-column: 2;
  grid-row: 4;
  border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nightTemp h3 {
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  letter-spacing: 1.10125;
}

.moons {
  grid-column: 1;
  grid-row: 5;
}

.moons h3 {
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  letter-spacing: 0.10125rem;
}

.solarsysLogo {
  align-self: stretch;
  margin: 1rem;
  top: 0;
  right: 0;
  color: white;
  font-family: secular system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.5rem;
  position: absolute;
}

.solarsysLogo h2 {
  text-align: right;
  color: #ffd029;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.planets {
  margin-right: 5rem;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.blueSun {
  height: 48rem;
  width: 48rem;
  background-color: #428dd4;
  border-radius: 100%;
  left: -39rem;
  position: absolute;
  box-shadow: #428dd4 0px 0px 250px 0px;
}

.solen {
  height: 48rem;
  width: 48rem;
  background-color: #ffd029;
  border-radius: 100%;
  margin-left: -39rem;
  box-shadow: #ffd029 0px 0px 250px 0px;
}

.merkurius {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background: #888888;
}

.venus {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background: #e7cdcd;
}

.jorden {
  border-radius: 50%;
  width: 1.9rem;
  height: 1.9rem;
  background: #428ed5;
}

.mars {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background: #ef5f5f;
}

.jupiter {
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  background: #e29468;
}

.saturnus {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  background: #c7aa72;
}

.saturnus::before {
  content: "";
  border-radius: 100%;
  position: absolute;
  width: 218.23px;
  height: 5.5px;
  background: rgba(255, 255, 255, 0.4);
  transform: rotate(-30deg);
}

.uranus {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background: #c9d4f1;
}

.neptunus {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background: #7a91a7;
}
